<div class="flex flex-wrap justify-center">
  <div
    class="relative flex flex-col mt-6 mr-4 text-gray-700 shadow-md bg-clip-border rounded-xl"
  >
    <div class="max-w-96">
      <img
        src="../../assets/img/service support icon.png"
        alt=""
        class="h-64 w-72"
      />
      <h5
        class="block mb-2 font-sans text-white text-xl antialiased font-semibold leading-snug tracking-normal"
      >
        Service support
      </h5>
      <p
        class="block font-sans text-base antialiased font-light text-white leading-relaxed text-inherit"
      >
        Microsoft office , Outlook , Onedrive , Sharepoint , Planner, Teams
        зэрэг хүчирхэг программуудын нэгдэл нь танд болон танай хамт олонд
        хаанаас ч, хэзээ ч харилцаа холбоо, хамтын ажиллагааг хурдтайгаар, өндөр
        бүтээмжтэйгээр удирдан явуулах дижитал ажиллах орчныг бүрдүүлэх болно​
      </p>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 py-4 mt-16">
    <div
      class="flex items-center justify-center text-black bg-white h-24 rounded-md p-2 text-md font-semibold"
    >
      <p>Мэдээллийн технологийн аутсорсинг​</p>
    </div>
    <div
      class="flex items-center justify-center text-black bg-white h-24 rounded-md p-2 text-md font-semibold"
    >
      <p>Microsoft 365 үйлчилгээ</p>
    </div>
    <div
      class="flex flex-col justify-center text-black bg-white rounded-md p-2 text-md font-semibold"
      style="height: calc(100% - 48px)"
    >
      <p>Мэдээллийн аюулгүй байдлын цогц систем​</p>
    </div>
  </div>
</div>
